/*-- scss:rules --*/

/* Justificar texto */
p {
  text-align: justify;
}

/* Banner do bloco de título */
.quarto-title-block .quarto-title-banner {
  background: #000 !important;
  color: #fff !important;
}

/* Garante que título/subtítulo/autor/data fiquem brancos */
.quarto-title-block .quarto-title-banner h1,
.quarto-title-block .quarto-title-banner .subtitle,
.quarto-title-block .quarto-title-banner .quarto-title-meta,
.quarto-title-block .quarto-title-banner a {
  color: #fff !important;
}

/* Opcional: links no banner */
.quarto-title-block .quarto-title-banner a:hover {
  opacity: 0.9;
}

.quarto-title-meta-heading {
  font-variant: small-caps;
}

.quarto-title-banner {
  position: relative;
}


.quarto-title-banner::before {
  content: "";
  position: absolute;

  /* MAIS ACIMA */
  top: clamp(5px, 1vw, 12px);
  right: clamp(-25px, 1vw, 30px);

  /* MEIO TERMO DE TAMANHO */
  width: clamp(160px, 18vw, 300px);
  height: clamp(160px, 18vw, 300px);

  background-image: url(vetra.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}


@media (min-width: 1200px){
  .quarto-title-banner::before{
    width: 420px;
    height: 420px;
  }
}

.quarto-title-banner {
  padding-right: clamp(160px, 10vw, 300px);
}

/* Remove o “cartão” cinza do logo no banner */
.quarto-title-banner .quarto-title-logo,
.quarto-title-banner .quarto-title-logo * {
  background: transparent !important;
  box-shadow: none !important;
}

/* Opcional: zera padding/margem do bloco do logo */
.quarto-title-banner .quarto-title-logo {
  padding: 0 !important;
  margin: 0 !important;
}